.btn_delete{
  background-color: unset;
  border: none;

  cursor: pointer;
}

.btn_delete > svg{
  fill: rgb(255, 255, 255);
}

.list_item{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: 90%;

  padding: 5px;

  font-size: 16px;
  color: rgb(252, 252, 252);
  background-color: rgb(70, 71, 143);
}

.todo_item_sno{
  background-color: rgb(150, 163, 219);
  display: flex;
  align-items: center;
  padding: 4px;
}
.list_item_container{
  list-style-type: none;

  background-color: rgb(255, 255, 255);

  margin: 5px;
  padding: 5px;
}

.list_item_container::-webkit-scrollbar{
  width: 4px;
}

.list_item_container::-webkit-scrollbar-thumb{
  background: rgb(24, 89, 163);
  border-radius: 2px;
}
.list_item_container::-webkit-scrollbar-track{
  background: white;
}


.home_page_wrapper {
  height: 100vh;
  width: 100vw;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  z-index: 1;
  top: 0;

  height: 8%;
  padding: 20px;
  margin: 0px 0;

  background-color: rgb(59, 59, 59);
}
.header {
  margin: 0;
  color: white;
}


/* Destop */
@media (min-width: 600px){
  .list_item{
    width: 40%;
  }
}