.modal_title{
  margin: 0px;
  padding: 2px;
  text-align: center;
}
.modal_clear_list_content > p{
  text-align: center;
}
.modal_clear_list_btn_container{
  display: flex;
  justify-content: space-evenly;
}
.btn_clear_list_container{
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;

  height: 60px;
  width: 100vw;
  padding: 5px;
}
.btn_clear_list{
  display: flex;
  justify-content: center;
  align-items: center;

  
  font-family: 'Courier New', Courier, monospace;
  font-weight:900;
  
  background-color:unset;
  border: none;
  border-radius: 50%;

}
.btn_clear_list > svg{
  height: 24px;
  width: 24px;

  fill: rgb(246, 141, 141);
}

.btn_delete{
  background-color: unset;
  border: none;

  cursor: pointer;
}

.btn_delete > svg{
  fill: rgb(255, 255, 255);
}

.list_item{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: 90%;

  padding: 5px;

  font-size: 16px;
  color: rgb(252, 252, 252);
  background-color: rgb(70, 71, 143);
}

.todo_item_sno{
  background-color: rgb(150, 163, 219);
  display: flex;
  align-items: center;
  padding: 4px;
}
.list_item_container{
  list-style-type: none;

  background-color: rgb(255, 255, 255);

  margin: 5px;
  padding: 5px;
}

.list_item_container::-webkit-scrollbar{
  width: 4px;
}

.list_item_container::-webkit-scrollbar-thumb{
  background: rgb(24, 89, 163);
  border-radius: 2px;
}
.list_item_container::-webkit-scrollbar-track{
  background: white;
}


.home_page_wrapper {
  width: 100vw;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  z-index: 1;
  top: 0;

  height: 8%;
  padding: 10px;
  margin: 0px 0;

  background-color: rgb(59, 59, 59);
}
.header {
  margin: 0;
  color: white;
}


/* Destop */
@media (min-width: 600px){
  .list_item{
    width: 40%;
  }
}